<h1>Cadastrar Produto</h1>
<form action="/cadastrarProd" method="POST">
    <div>
        <label for="name">Nome: </label>
        <input type="text" id="name" name="name"
        required>
    </div>
    <br>
    <div>
        <label for="marca">Marca: </label>
        <input type="text" id="marca" name="marca"
        required>
    </div>
    <br>
    <div>
        <label for="quantidade">Quantidade: </label>
        <input type="number" id="quantidade" name="quantidade"
        required>
    </div>
    <br>
    <div>
        <label for="valor">Valor: R$ </label>
        <input type="float" id="valor" name="valor"
        required>
    </div>
    <br>
    <button type="submit">Cadastrar Produto</button>
</form>
<br>
<h1>Cadastrar Produto</h1>
<form action="/cadastrarProd" method="POST">
    <div>
        <label for="name">Nome: </label>
        <input type="text" id="name" name="name"
        required>
    </div>
    <br>
    <div>
        <label for="marca">Marca: </label>
        <input type="text" id="marca" name="marca"
        required>
    </div>
    <br>
    <div>
        <label for="quantidade">Quantidade: </label>
        <input type="number" id="quantidade" name="quantidade"
        required>
    </div>
    <br>
    <div>
        <label for="valor">Valor: R$ </label>
        <input type="float" id="valor" name="valor"
        required>
    </div>
    <br>
    <button type="submit">Cadastrar Produto</button>
</form>
<br>
<a href="/index.ejs">Voltar</a>