<h1>Atualizar Produto</h1>
<form action="/editarProd" method="POST">
    <div>
        <label for="name">Novo nome: </label>
        <input type="text" id="name" name="name"
        required>
    </div>
    <br>
    <div>
        <label for="marca">Nova marca: </label>
        <input type="text" id="marca" name="marca"
        required>
    </div>
    <br>
    <div>
        <label for="quantidade">Nova quantidade: </label>
        <input type="number" id="quantidade" name="quantidade"
        required>
    </div>
    <br>
    <div>
        <label for="valor">Novo valor: R$ </label>
        <input type="float" id="valor" name="valor"
        required>
    </div>
    <br>
    <button type="submit">Atualizar Produto</button>
</form>
<br>
<a href="/index.ejs">Voltar</a>