<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Seja Bem-Vindo!</h1>

<form action="/cadastrarProd" method="GET">
    <button type="submit">Cadastrar Produto</button>
</form>

<div>
    <input type="text" id="txtBusca" placeholder="Buscar produto...">
    <br><br>
    <thead>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Marca</th>
                <th>Quantidade</th>
                <th>Valor</th>
            </tr>
        </table>
    </thead>
    <tbody id="tbody">
        <a href="/editarProd"><button>Editar</button></a>
        <a href="/"><button>Excluir</button></a>
    </tbody>
</div>

<br><br>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Sair</button>
</form>
</body>
</html>
