<h1>Cadastrar Usuário</h1>
<form action="/registro" method="POST">
    <div>
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name"
        required>
    </div>
    <br>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"
        required>
    </div>
    <br>
    <div>
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password"
        required>
    </div>
    <br>
    <button type="submit">Cadastrar</button>
</form>
<a href="/login">Realizar Login</a>